.table {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    "header"
    "dealer"
    "user"
    "buttons";
}
.table .fas {
  display: inline;
  position: absolute;
  right: 85%;
  top: 2.5%;
}
.table .fas,
h1 {
  grid-area: header;
}

.dealerDiv {
  grid-area: dealer;
}
.userDiv {
  grid-area: user;
}
.buttonContainer {
  grid-area: buttons;
}
